<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Эмоции робота</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <script src="/static/scripts/socketio_mock.js"></script>
    <script src="/static/scripts/voice.js"></script>
</head>
<body>
    <div class="robot-face">
        <div class="face-container">
            <div class="eyes">
                <div class="eye left-eye">
                    <div class="pupil"></div>
                </div>
                <div class="eye right-eye">
                    <div class="pupil"></div>
                </div>
            </div>
            <div class="mouth"></div>
            <div class="eyebrows">
                <div class="eyebrow left-eyebrow"></div>
                <div class="eyebrow right-eyebrow"></div>
            </div>
        </div>
    </div>
    
    <script src="/static/scripts/script.js"></script>
</body>
</html>